body{
background-color:cornflowerblue
}
h1{
    color:rgb(100, 146, 237);
    background-color: lightskyblue;

}
#SUSMAX{
    float: right;
}
canvas{
    border:5px solid white;
border-radius: 20px;
animation-name:Bruh;
animation-duration: 4s;
margin-top: 50px;
animation-iteration-count: infinite;
}
@keyframes Bruh{
    from{
        box-shadow:1px 1px 38px aqua
    }
   to{
    box-shadow:1px 1px 38px rgb(0, 128, 255)
    }
}
p{
    font-size: 25;
    font-family:'Caveat', cursive;
    padding-top: 10px;
}